.c-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #262626;

  &__curves {
    position: absolute;
    width: 100%;
    top: -27px;
  }

  &__container {
    width: 100%;
    padding: 80px 24px 30px;
    max-width: 1152px;
  }

  &__flex,
  &__down {
    display: flex;
    justify-content: space-between;
  }

  &__upLeft {
    max-width: 560px;

    svg {
      margin-bottom: 30px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      color: #bebebe;
      &:nth-child(2) {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
      }
    }

    svg,
    path {
      fill: #ffffff;
    }
  }

  &__emailArea {
    display: flex;
    justify-content: space-between;
    width: 466px;
    margin: 28px 0 20px;
  }

  &__midItem {
    margin-bottom: 27px;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }

  &__midItemLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 27px;
    cursor: pointer;

    p {
      font-size: 16px;
      color: white;
    }
  }

  &__midIcon {
    display: flex;
    justify-content: center;
    width: 40px;
    path {
      fill: #bebebe;
    }
  }

  &__hr {
    margin: 100px 0px 45px;
    border: 1px solid #404040;
  }

  &__down {
    p {
      font-weight: 500;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.498);
      cursor: pointer;
    }
  }

  &__downMid {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  &__downRight {
    display: flex;
    gap: 10px;
    p {
      &:last-child {
        color: white;
      }
    }
  }

  &__card {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
